<div class="max-w-2xl">
  <h1 class="text-3xl font-bold mb-5">New blog</h1>
  <%= render "form", blog: @blog %>
  <%= link_to "Back to blogs", blogs_path, class: "px-3 py-2 bg-gray-100 hover:bg-gray-50 rounded-md inline-block mt-4" %>
</div>
